# ------------------------------
# IDE
# ------------------------------
.idea/
.vscode/
*.code-workspace

# ------------------------------
# Operating Systems
# ------------------------------
.DS_Store
Thumbs.db
desktop.ini

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Temporary files
# ------------------------------
*.tmp
*.temp
*.bak
*.swp
*.swo

# ------------------------------
# PHPUnit
# ------------------------------
.phpunit.result.cache

# ------------------------------
# Node
# ------------------------------
node_modules/
npm-debug.log*
yarn-error.log*

# ------------------------------
# Build / Archives
# ------------------------------
*.zip
*.tar
*.gz
